{% load static %}
<!DOCTYPE html>
<html>
<head>
	<title>school
	</title>
	<script type="text/javascript" src="{% static "js/regVal.js" %}"> </script>
	<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
	<link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">

    
	
</head>
<body>
	
  <div class="container">

 	<form name="formchk"  method="post" action="">
		{% csrf_token %}
		 <div class="form-group col-md-3">
		  <label for="sel1">Select Class:</label>
		  <select class="form-control sell" name="sell" >
		    <option value="1">1</option>
		    <option value="2">2</option>
		    <option value="3">3</option>
		    <option value="4">4</option>
		  </select>
        </div> 
	</form>
  <div class="tab-content col-md-12">
    <div id="home" class="tab-pane fade in active">
      <h3>HOME</h3>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
    </div>
    <div id="menu1" class="tab-pane fade">
      <h3>Menu 1</h3>
      <p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
    </div>
    <div id="menu2" class="tab-pane fade">
      <h3>Menu 2</h3>
      <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam.</p>
    </div>
    <div id="menu3" class="tab-pane fade">
      <h3>Menu 3</h3>
      <p>Eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.</p>
    </div>
  </div>
</div>
	
</body>
</html>
<!-- <script>
function addMsg() {
	
    var message = $('#sell').val();
    alert(message);
    $.ajax({
        type: "POST",
        url: "/chat",
        data: {'message': message},
        cache: false
    });
}
</script>
 -->
 <script type="text/javascript">

$(document).ready(function(){

    $("select.sell").change(function(){

        var selectedCountry = $(this).children("option:selected").val();

        alert("You have selected the country - " + selectedCountry);

    });

});

</script>
<!-- action="/insData/" -->